.card {
	margin: 0;
	width: 100vw;
	position: relative;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	padding: 30px;
	box-shadow: 0 0 5px #333;
	border-radius: 10px;
	background: #48cbff;
	transform: translate(-50%, -50%);
}
